<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTML 시험</title>
</head>
<body>

<h1>2019년 4월 19일 시험</h1>

<img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"><br>


회원종류 : 
<select>
	<option>일반회원</option>
	<option>VIP회원</option>
</select>
<br><br>

아이디 : <input type="text" placeholder="아이디를 입력하세요"><br>
패스워드 : <input type="password" placeholder="비밀번호를 입력하세요">
<input type="button" value="로그인">
<br><br>
<h1>공지 게시판</h1><br>

<hr>

<table border = "1">
	<tr>
	
		<th>No</th>
		<th>타이틀</th>
		<th>날짜</th>
		
	</tr>
	
	<tr>
	
		<td>1</td>
		<td>안녕하세요</td>
		<td>2020-01-13</td>		
	
	</tr>

	<tr>
	
		<td>2</td>
		<td>반갑습니다</td>
		<td>2020-01-28</td>		
	
	</tr>
</table>	
검색<input type="radio" name="search">NO<input type="radio" name="search">타이틀<input type="radio" name="search">날짜 <input type="text" placeholder="검색어를 입력하세요">
<input type="button" value="검색"><br><br>
<hr>

<form action = "testresult">


	아이디 : <input type = "text" name = "id" /> <br>
	패스워드 : <input type ="password" name = "password" /> <br>
	이메일 : <input type = "text" name = "email" /> <br>
	주소 : <input type ="text" name = "address" /> <br>
	<input type = "submit" value = "회원가입">
	

</form>


</body>
</html>